<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>CompilerGeneratedAttribute,GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*.cshtml,**/Design/Mappings/DefinitionEntityMapper.cs,**/Infrastructure/ControlPlaneDbContext.cs,**/PigeonPropagationMetadataMapper.cs,**/Interceptors/PigeonPropagationMetadataMapper.cs,**/OrchestrationButterMorphDesignerContextParser.cs,**/RuntimeRepositoryBase.cs,**/UpdateOrchestrationDefinitionCommandValidator.cs,**/UpdateBranchRuleDefinitionCommandValidator.cs,**/OrchestrationDefinitionApplicationMapper.cs,**/ArtifactDeliveryApplicationService.cs,**/KnOwlControlPlaneContractCatalogHttpClient.cs,**/MetadataDescriptorButterMorphSchemaDesignerHost.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
